body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
  height: 100%;

}
.main{
  overflow: auto;
 
}

.container{
  width:80%;
  margin:auto;
  overflow:hidden;
  padding-bottom: 15px;
  padding-top: 15px;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  background:#e8491d;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

/* Header **/
header{
  background: #224f6b;
  color:#ffffff;
  min-height:70px;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#e8491d;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

.wrapper .sidebar{
    border: 1px solid red;
    width: 18%;
    float: left;
    margin: 0;
    margin-left: 10%;
    list-style: none;
}
.sidebar li{
   border: 1px solid red;
    width: 92%;
    float: left;
    margin: 0;
    list-style: none;
    padding: 1px 10px 0px 10px;
    font-size: 30px;
    background-color: #224f6b;
}
.sidebar a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}
.sidebar h3{
  color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    width: 92.8%;
    background-color: #224f6b;
    padding: 10px 10px 10px 10px;
    text-align: center;
    margin:0  ;
}


.wrapper .main-content{
  border:1px solid black;
  float:left;
  width: 62%;
  margin:0;

}

/* pageheader */
.wrapper .page-header {
    text-align: center;

}
.page-header h1{
  margin-top: 0;
}

.wrapper .page-header .page-img img{
  width:80%;
  align-content: center;
  padding-top: 5px;

}


.wrapper .page-header h1{
  font-size:50px;
  margin-bottom:10px;
  margin-right: : 250px;
 
}

.wrapper .page-header p{
  font-size:20px;
}

/* Newsletter */
#searchbar{
  border-top:#e8491d 4px solid;
  color:#ffffff;
  background:#224f6b;

}

#searchbar h1{
  float:left;
}

#searchbar form {
  float:right;  
}

#searchbar input[type="search"]{
  padding:4px;
  height: 38px;
  width:250px;
}

.product-list li {
    border: 1px solid red;
    width: 31%;
    height: 200px;
    display: inline-block;
    margin: 0 15px 0 0;
    text-align: center;
}

.product-list {
    text-align: center;

}

.product-list .prod-img img{
  width: 100%;
  height: 200px;

}

.product-list li:last-child {
    margin: 0;
}
.product-list li a{

}

.footer{
  width: 100%;
  padding: 15px;
  margin-top:-100px;
  color:#ffffff;
  background-color:#e8491d;
  text-align: center;
  border: 1px;
  position:relative;
  clear: both;
}

/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  h1  #searchbar,
  #searchbar form,
  .sidebar h3,
  li .sidebar,
  .wrapper .main-content,
  .wrapper .page-header,
  .page-img img,
  .page-header h1,
  .footer,  


  .wrapper .sidebar{
    float:none;
    text-align:center;
    width:100%;
    margin:0;
  }
  .sidebar li{
    width: 100%;
  }
  .page-header h1{
    text-align: center;
    font-size: 30px;
  }
  .product-list li{
    width: 70%;
    align-content: center;

  }
  .product-list .prod-img img{
    width: 100%;
    height: 200px;

  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }

  #searchbar button, .quote button{
    display:block;
    width:100%;
  }

  #searchbar form input[type="search"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }
}
